body{
    font-family: 'PT Serif', serif;
}



.bg-yellow{
    background-color:#ffc017; 
}

.border-bottom-dark{
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}
.border-top-dark{
    border-top: 1px solid rgba(230,230,230,1)
}
