.btn-star{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.lınked{
display: flex;
align-content: center;
justify-items: center;   
}
/*
.lınkhr .lınkhr1{
    display: flex;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    padding:0 4px;
}*/

.lınkhr .lınkhr1::before{
    content: " ";
    width: 50%;
    height: 1px;
    background-color: lightgrey;
    margin-right: 8px;

}

.lınkhr1::after{
    content: " " ;
    width: 50%;
    height: 1px;
    background-color: lightgray;
    margin-left: 8px;
}

.color:hover{
    color:#3108d6
}

.mt-12{
    margin-top: 12px;
}

.but{
    display: grid;
    gap: 1em;

}

.but1:hover{
    color: lightgray;
}

.kat{
    display: inline-block;
}
a:link,
a:active,
a:visited {

  text-decoration: none
}

.lınkft:hover{
    text-decoration: underline;

}


.ft{
    position: absolute;
    top: 100%;
    left:20%;
    transform: translate(-50%, -50%);
    

}







