.lınknav{
    font-size: 30px;
    font-weight: bold;
  

}
.yazı {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: normal;

  }

  .navli{
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .buttonli{
    padding: 10px 18px;
    border-radius: 20px ;
    border: none;
    outline: none;
    font-weight: 600;
  }

  .buttonlogin{
    padding: 10px 18px;
    border-radius: 20px ;
    font-weight: 600;
  }
  .th1{
    color: 	#93430a;
  }


.inpy{
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 2px;
    width: 75%;
    height: 20%;
}

.inpy :active{
    border-color: blue;
}

.buttonka{
  min-width: 400px;
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 20px;
    
}

.timg{
width: 700px;
 margin-left: 120px;

}

.tp{
    font-size: 14px;
    
}
.tbord .tborder{
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 6px;
}

.tbord .tborder::before{
  content: "";
  background:gray;
  width: 35%;
  height: 1px;
  margin-right: 8px;


}

.tborder::after{
  content: "";
  background:gray;
  width: 34%;
  height: 1px;
  margin-left: 8px;

}


a:link,
a:active,
a:visited {

  text-decoration: none
}

.hv:hover{
  text-decoration: underline;
}


.font{
  font-weight: 400;
  color: 	#cf0707;
  font-size: 36px;
  letter-spacing: 1px;
  

}

.bgc{
  background-color:	#f0e5f0 ;
}

.mtr{
  margin-top:100px;
  margin-bottom:50px;
}
.wit{
  margin-left: 100px;
}
.box{
 width: 65%;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 12px;
  padding: 18px
}


.box:hover{
  cursor:pointer;
  box-shadow:  10px 5px 3px silver, -5px -5px 3px silver;
}

.box:active{
  color:	#d8bfd8;
}

.lınkd{
  background-color: #f3eaf3;
}

.font1{
  font-weight: 300;

  font-size: 36px;
  letter-spacing: 1px;
}

.mtl{
 margin-top: 8%;
}

#more{
  display: none;

}

#lınkedIn{
  border: none;
  
  outline: none;
  background-color: #f3eaf3;
  padding: 8px;
}

#lınkedIn:hover{
  background-color:#f0ddf0;
} 

.btnlu{
  
  padding: 12px;
  border: 1px solid;
  background-color: #f3eaf3;
  border-radius: 25px;
  cursor: pointer;

}

.btnlu:hover{
  cursor: pointer;
  background-color:#f0ddf0;
}

.btnf{
  font-size: 18px;
  font-weight:500;
}

.lınkms{
  background-color:	#f0e5f0 ;
}

.btns{
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 30px;
  font-size: 20px;
  color: blue;
  border: 1px solid;
  background-color:  #f3eaf3;
}

.btns:hover{
  
  cursor:pointer;
  background-color:#d4cfeb;

}

.btnss{
  margin-top: 8%;
}

.btn7{
  border-radius: 15px;
  padding: 10px 15px;
  border: 1px solid  #f3eaf3;
  color: rgb(24, 23, 23);
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.btn7:hover{
  color: rgb(24, 23, 23);
  background-color:#dfc9df ;
}
.btn7:active{
  background-color:#cdb6cd ;
}

.font9{
  font-weight: 400;
  color: 	#9c0a0a;
  font-size: 36px;
  letter-spacing: 1px;
  margin-top: 50px;

}

.font9a{
  font-weight: 350;
  color: 	#514646;
  font-size: 28px;
line-height: 34px;
}


.slide{display: none;}


.fade{
  animation-name: fade;

}

@keyframes fade{
  from {opacity: 1;}
  to {opacity: 1;}
}

/* @media only screen and (max-width:300px){
  .prev, .next, .text{
      font-size: 11px;
  }
} */


.header{
  margin-top:100px;
}

/* .area{
  margin-top:150px;
} */

.defaultSlide{
  display: block;
}


.disabled{
  cursor: not-allowed;
color: gray;

}

.disabled:hover{
  border: 1px solid  #f3eaf3;
  background-color:#dfc9df ;
  
}

.row1{
  margin-bottom: 150px;
}

.row2{margin-bottom: 400px;}


.tas3{
  margin-top: 140px;
}

.tash2{
  margin-top: 25px;
  font-weight: 320;
  font-size: 50px;
  margin-left: 10px;
  line-height: 50px;
  letter-spacing: 1px;
}


.btnlı{
  
  padding: 14px 18px;
  border: 1px solid;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;

}

.btnlı:hover{
  cursor: pointer;
  background-color:#f1d4f1;
}

.btndr{
 border: 1px solid #bfbfbf;
  padding: 14px;
 width: 350px;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 25px;
}

.drmen{
  width: 350px;
  height: 400px;
  overflow: scroll;

}


.h1d{
  font-size: 16px;
  color:black;
}
.h1d:hover{
  text-decoration: underline;
  text-decoration-color: black;
}
.pd{
  font-size: 14px;
  margin-top: -10px;
}

.adr:hover{
  text-decoration: underline;
}

.bgı{
  background-image: url(ımg/dadad.JPG);
  height:500px;
  object-fit: contain;

}

.row3{
  height: 500px;
  
}

/* 
.tas3{
  
    margin-top: -2px;
    font-weight: 350;
    font-size: 40px;
    margin-left: 10px;
    line-height: 50px;
    letter-spacing: 1px;

  
  
} */

.tas9{


 margin-top: -4px;
    font-weight: 300;
    font-size: 44px;
    margin-left: 10px;
    line-height: 50px;
    letter-spacing: 1px;
  }

  .btnbas{
    
    border-radius: 30px;
    padding: 14px 20px;
    border: 1px solid transparent;
    background-color:  #075dba;

  }

  .btnbas:hover{
    background-color: #08498e;
  }

  .btnbas1{
    font-size: 18px;
    font-weight:500;
    color: white;
  }

/*   
.btnlı{
  
  padding: 14px 18px;
  border: 1px solid;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;

} */

.lınkft:hover{
  text-decoration: underline;
  color: blue;

}

#btn8:disabled{
  cursor: not-allowed;
  color: gray;
}
#btn9:disabled{
  cursor: not-allowed;
  color: gray;
}

#btn8:disabled:hover{
  background-color: #f3eaf3; 
}
#btn9:disabled:hover{
  background-color: #f3eaf3; 
 

}
.dıl{
  color: blue;
  width: 10rem;
  border-radius: 10px;
  height: 400px;
  overflow-y: scroll;
}
.lang{color:blue;
  line-height: 2px; font-size: 13px;}

.lang:hover{
  background-color: #1074df;
  color: white;
}

.footer{
  
    background-color:	#f0e5f0 ;
 
}