<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center" style="background: #fff; min-height: 100vh;">
  <div class="position-absolute" style="top: 32px; left: 48px;">
    <h3><span class="fw-bold text-primary">Linked<i class="fa-brands fa-linkedin w3-xlarge"></i></span></h3>
  </div>
  <div class="login-container">
    <div class="container lınked mt-5">
      <div class="row justify-content-center">
        <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 24rem;">
          <h4>Oturum Aç</h4>
          <p>Profesyonel Dünyanızla İlgili güncel haberlere sahip olun</p>
          <form class="lınkfm">
            <div class="form-floating mb-3 denım">
              <input type="email" class="form-control inp" id="floatingInput" placeholder="name@example.com" required>
              <div id="input1"></div>
              <label for="floatingInput">E-posta veya Telefon</label>
            </div>
            <div class="form-floating denps">
              <input type="password" class="form-control inps" id="floatingPassword" placeholder="Password" required>
              <div id="input1"></div>
              <label for="floatingPassword">Şifre</label>
            </div>
            <div class="form-floating mt-2 ms-1">
              <a class="text-decoration-none" href="#"><p class="fw-bold">Şifrenizi mi unutunuz?</p></a>
            </div>
            <div class="d-grid gap-2 btn1">
              <button type="button" class="btn btn-primary mt-1 color rounded-5 p-2">
                <span class="fw-bold">Oturum Açın</span>
              </button>
            </div>
          </form>
          <div id="lınkvy" class="lınkhr text-center mt-12">
            <span class="lınkhr1">veya</span>
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-outline-secondary but1 mt-12 rounded-5 p-2 but ">
                <span class="fw-bold mt-1 p-2 pt-2" style="vertical-align: middle;">Google ile oturum açın</span>
              </button>
            </div>
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-outline-secondary but1 mt-12 rounded-5 p-2 but ">
                <span class="fw-bold mt-1 p-2 pt-2" style="vertical-align: middle;">Apple ile oturum açın</span>
              </button>
            </div>
          </div>
        </div>
        <div class="ms-4 text-center">
          <p class="mt-4">LinkedIn yeni misiniz? <a href="" class="fw-bold text-decoration-none ms-1" style="font-weight: 400;">Hemen Katılın</a></p>
        </div>
      </div>
    </div>
  </div>
</div> 